<h1 class="title">{{model.name}}</h1>

<div class="columns">
  <div class="column">
    <div class="has-text-weight-bold">{{t 'bettingGame.list.name'}}</div>
    {{model.name}}
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="has-text-weight-bold">{{t 'bettingGame.list.competition'}}</div>
    {{model.competition.caption}}
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="has-text-weight-bold">{{t 'bettingGame.list.invitationToken'}}</div>
    {{model.invitationToken}}
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="has-text-weight-bold">{{t 'bettingGame.list.created'}}</div>
    {{format-date model.created weekday="long"}},
    {{format-date model.created month="short"}}.
    {{format-date model.created day="numeric"}},
    {{format-time model.created hour='2-digit' minute='2-digit' hour12=false}}
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="has-text-weight-bold">{{t 'bettingGame.list.users'}}</div>
    {{#each model.users as |user|}}
      {{user.firstName}} {{user.lastName}}<br>
    {{else}}
      —
    {{/each}}
  </div>
</div>

{{outlet}}