<h1 class="title">
  {{t 'me.community.title'}}
</h1>
<p class="subtitle">
  {{t 'me.community.subtitle'}}
</p>

<div class="columns is-desktop">
  <div class="column is-half">
    <form>
      <div class="field">
        <div class="control has-icons-left">
          {{input type="text"
                  placeholder="Community name"
                  class=(concat 'input ' (if (v-get model 'community' 'name' 'isInvalid') 'is-danger'))
                  value=(mut (get model.community 'name'))}}
          <span class="icon">
              <i class="fa fa-align-left"></i>
            </span>
        </div>
      </div>
      {{#each usersInCommunity as |user|}}
        <div class="field has-addons">
          <div class="control has-icons-left">
            <input class="input" value="{{user.lastName}}, {{user.firstName}}" readonly disabled>
            <span class="icon">
                <i class="fa fa-user"></i>
              </span>
          </div>
          <div class="control">
            <a class="button" {{action 'removeUser' user}}>
              <i class="fa fa-minus"></i>
            </a>
          </div>
        </div>
      {{/each}}
      <div class="field">
        <div class="control has-icons-left">
          <div class="select">
            <select onchange={{action "addUser"}}>
              <option value="" disabled selected>
                {{t 'me.community.new.addUser'}}
              </option>
              {{#each usersNotInCommunity as |user|}}
                <option value={{user.id}}>
                  {{user.lastName}},
                  {{user.firstName}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="icon is-small is-left">
            <i class="fa fa-users"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          {{#submit-button model=model.community submit=(action 'submit')}}
            Sign Up
          {{/submit-button}}
        </div>
      </div>
    </form>
  </div>
</div>
