<section class="section">
  <h1 class="title">
    {{auth.user.firstName}} {{auth.user.lastName}}
  </h1>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      {{#link-to 'communities.new' class="tile is-child notification is-danger"}}
        <p class="title">
          {{t 'me.community.title'}}
        </p>
        <p class="subtitle">
          {{t 'me.community.subtitle'}}
        </p>
      {{/link-to}}
    </div>
  </div>
</section>

{{outlet}}