<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      {{#if model.currentBettingGame}}
        {{#if model.isOnlyOneBettingGame}}
          {{#link-to "standings" class="navbar-item"}}
            <strong>{{model.currentBettingGame.name}}</strong>
          {{/link-to}}
        {{else}}
          {{#alternative-for-selection selected=model.currentBettingGame value='id' label='name' class="is-primary"
                                       options=model.bettingGames onChange=(action 'changeBettingGame')}}
          {{/alternative-for-selection}}
        {{/if}}
      {{else}}
        {{#link-to "index" class="navbar-item"}}
          <strong>Tippspiel2</strong>
        {{/link-to}}
      {{/if}}
      {{#burger-menu class="navbar-burger" data-target="navMenu"}}
        <span></span>
        <span></span>
        <span></span>
      {{/burger-menu}}
    </div>
    <div class="navbar-menu" id="navMenu">
      {{#if model.currentBettingGame}}
        <div class="navbar-start">
          {{#unless model.isOnlyOneBettingGame}}
            {{#link-to "standings" class="navbar-item"}}
              Standings
            {{/link-to}}
          {{/unless}}
          {{#link-to "bets" class="navbar-item"}}
            Bets
          {{/link-to}}
        </div>
      {{/if}}
      <div class="navbar-end">
        {{#if auth.user}}
          {{#link-to "me" class="navbar-item"}}
            {{auth.user.firstName}}
          {{/link-to}}
          <a class="navbar-item" {{action 'signOut'}}>
            Sign Out
          </a>
        {{else}}
          {{#link-to "sign-in" class="navbar-item"}}
            Sign In
          {{/link-to}}
        {{/if}}
        <a class="navbar-item small-caps" {{action 'toggleLocale'}}>
          <span class="{{unless model.localeIsEnUs "has-text-weight-bold"}}">de</span>/<span
          class="{{if model.localeIsEnUs "has-text-weight-bold"}}">en</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="section">
  <div class="container">
    {{outlet}}
  </div>
</div>
