<h1 class="title">
  {{auth.user.firstName}} {{auth.user.lastName}}
</h1>

{{#if auth.isAdmin}}
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      {{#link-to 'competitions.new' class="tile is-child is-danger notification is-primary"}}
        <p class="title">
          {{t 'me.competition.title'}}
        </p>
        <p class="subtitle">
          {{t 'me.competition.subtitle'}}
        </p>
      {{/link-to}}
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      {{#link-to 'betting-games.new' class="tile is-child is-danger notification is-primary"}}
        <p class="title">
          {{t 'me.bettingGame.title'}}
        </p>
        <p class="subtitle">
          {{t 'me.bettingGame.subtitle'}}
        </p>
      {{/link-to}}
    </div>
    <div class="tile is-parent">
      {{#link-to 'betting-games.list' class="tile is-child is-danger notification is-primary"}}
        <p class="title">
          {{t 'me.bettingGames.title'}}
        </p>
        <p class="subtitle">
          {{t 'me.bettingGames.subtitle'}}
        </p>
      {{/link-to}}
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child is-danger notification is-primary">
        <p class="title">
          {{t 'me.setCurrentCompetition.title'}}
        </p>
        <p class="subtitle">
          {{t 'me.setCurrentCompetition.subtitle'}}
        </p>
        <div class="content">
          <p>
            {{t 'me.setCurrentCompetition.warning'}}
          </p>
          <p>
            {{#if model.currentCompetition}}
              {{t 'me.setCurrentCompetition.theCurrentCompetitionIs'}}
              <strong>{{model.currentCompetition.caption}}</strong>.
            {{else}}
              {{t 'me.setCurrentCompetition.thereIsNoCurrentCompetition'}}
            {{/if}}
          </p>
          {{#alternative-for-selection class="is-danger" selected=model.currentCompetition value='id'
                                       label='caption' options=model.competitions onChange=(action 'updateCurrentCompetition')
                                       placeholder=(t 'me.setCurrentCompetition.placeholder')}}
          {{/alternative-for-selection}}
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child is-danger notification is-primary">
        <p class="title">
          {{t 'me.updateCompetitionAndTeams.title'}}
        </p>
        <p class="subtitle">
          {{t 'me.updateCompetitionAndTeams.subtitle'}}
        </p>
        <div class="content">
          <button class="button is-danger is-inverted" {{action 'updateCurrentCompetition' model.currentCompetition}}>
            {{t 'me.updateCompetitionAndTeams.title'}}
          </button>
        </div>
      </article>
    </div>
  </div>
{{else}}
  <p>{{t 'easterEgg'}}</p>
{{/if}}

{{outlet}}
