<h1 class="title">Standings</h1>

<table class="table is-hoverable is-narrow-mobile is-fullwidth-desktop">
  <thead>
  <tr class="standings">
    <th class="has-text-centered">#</th>
    <th>Name</th>
    <th class="has-text-centered">P</th>
    <th class="has-text-centered">{{#bet-evaluation-icon evaluation=5}}{{/bet-evaluation-icon}}</th>
    <th class="has-text-centered">{{#bet-evaluation-icon evaluation=3}}{{/bet-evaluation-icon}}</th>
    <th class="has-text-centered">{{#bet-evaluation-icon evaluation=1}}{{/bet-evaluation-icon}}</th>
    <th class="has-text-centered">{{#bet-evaluation-icon evaluation=0}}{{/bet-evaluation-icon}}</th>
    <th class="has-text-centered">{{#bet-evaluation-icon evaluation=null}}{{/bet-evaluation-icon}}</th>
    <th class="has-text-centered">{{#bet-evaluation-icon evaluation=10}}{{/bet-evaluation-icon}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each standingsAsTable as |standing index|}}
    <tr class="standings">
      <td class="has-text-centered">
        {{standing.position}}
      </td>
      <td>
        {{#link-to 'users.bets' standing.user.id}}
          {{standing.user.firstName}}
          {{standing.user.lastName}}
        {{/link-to}}
      </td>
      <td class="has-text-centered"><strong>{{standing.points}}</strong></td>
      <td class="has-text-centered">{{standing.exactBets}}</td>
      <td class="has-text-centered">{{standing.goalDifferenceBets}}</td>
      <td class="has-text-centered">{{standing.winnerBets}}</td>
      <td class="has-text-centered">{{standing.wrongBets}}</td>
      <td class="has-text-centered">{{standing.missedBets}}</td>
      <td>
        {{#if standing.isAuthenticatedUser}} <!-- TODO No change allowed as soon as first game has started. -->
          {{#link-to 'champion-bet' class="icon"}}
            {{#country-flag teamId=standing.championBet.team.id}}{{/country-flag}}
          {{/link-to}}
        {{else}}
          {{#country-flag teamId=standing.championBet.team.id}}{{/country-flag}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
