<h1 class="title">Standings</h1>

<table class="table">
  <thead>
  <tr class="standings">
    <th>#</th>
    <th>Name</th>
    <th>P</th>
    <th>5</th>
    <th>3</th>
    <th>1</th>
    <th>0</th>
    <th>-1</th>
    <th>10</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |standing|}}
    <tr class="standings">
      <td>
        0
      </td>
      <td>
        {{#link-to 'users.bets' standing.user.id}}
          {{standing.user.firstName}}
          {{standing.user.lastName}}
        {{/link-to}}
      </td>
      <td><strong>{{ standing.points }}</strong></td>
      <td>{{standing.exactBets}}</td>
      <td>{{standing.goalDifferenceBets}}</td>
      <td>{{standing.winnerBets}}</td>
      <td>{{standing.wrongBets}}</td>
      <td>{{standing.missedBets}}</td>
      <td>
        Flag.
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
