<div class="card">
  <div class="card-content">
    <div class="title">
      <div class="nowrap">
        {{t (concat 'team.name.' bet.fixture.homeTeam.id)}}
        <span class="has-text-grey">{{bet.fixture.goalsHomeTeam}}</span>
      </div>
      <div class="nowrap">
        {{t (concat 'team.name.' bet.fixture.awayTeam.id)}}
        <span class="has-text-grey">{{bet.fixture.goalsAwayTeam}}</span>
      </div>
    </div>
    <div class="subtitle nowrap">
            <span class="is-hidden-tablet-only is-hidden-widescreen-only">
              {{date-format bet.fixture.date "dddd, MMM D, HH:mm"}}
            </span>
      <span class="is-hidden-mobile is-hidden-desktop-only is-hidden-fullhd">
        {{date-format bet.fixture.date "ddd, MMM D, HH:mm"}}
      </span>
    </div>
    <div>
      <form>
        <div class="columns is-mobile is-gapless">
          <div class="column">
            {{input type="text" placeholder=(t (concat 'team.short.' bet.fixture.homeTeam.id))
                    pattern="[0-9]*" inputmode="numeric"
                    disabled=disabled
                    class=(concat 'has-text-centered is-small input ' (if (v-get bet 'goalsHomeTeamBet' 'isInvalid') 'is-danger') (if bet.hasDirtyAttributes ' is-warning'))
                    value=(mut (get bet 'goalsHomeTeamBet'))}}
          </div>&nbsp;
          <div class="column">
            {{input type="text" placeholder=(t (concat 'team.short.' bet.fixture.awayTeam.id))
                    pattern="[0-9]*" inputmode="numeric"
                    disabled=disabled
                    class=(concat 'has-text-centered is-small input ' (if (v-get bet 'goalsAwayTeamBet' 'isInvalid') 'is-danger' (if bet.hasDirtyAttributes ' is-warning')))
                    value=(mut (get bet 'goalsAwayTeamBet'))}}
          </div>&nbsp;
          <div class="column">
            {{#unless disabled}}
              {{#submit-button model=bet submit=(action 'submit' bet) class="is-small"}}
                Submit
              {{/submit-button}}
            {{else}}
              {{#bet-evaluation goalsHomeTeam=bet.fixture.goalsHomeTeam goalsAwayTeam=bet.fixture.goalsAwayTeam
                                goalsHomeTeamBet=bet.goalsHomeTeamBet goalsAwayTeamBet=bet.goalsAwayTeamBet}}
              {{/bet-evaluation}}
            {{/unless}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
