<div class="card">
  {{#if live}}
    <i class="fa fa-circle text-danger blink"></i>
  {{/if}}
  <div class="card-content">
    {{#unless hideGame}}
      <div class="title">
        {{#link-to 'fixtures.bets' bet.fixture.id class="inverse-link"}}
          <span class="nowrap">
            {{#responsive-letter-spacing boundary=180}}
              {{t (concat 'team.name.' bet.fixture.homeTeam.id)}}
            {{/responsive-letter-spacing}}
            <span class="has-text-grey">{{bet.fixture.goalsHomeTeam}}</span>
          </span><br>
          <span class="nowrap">
            {{#responsive-letter-spacing boundary=180}}
              {{t (concat 'team.name.' bet.fixture.awayTeam.id)}}
            {{/responsive-letter-spacing}}
            <span class="has-text-grey">{{bet.fixture.goalsAwayTeam}}</span>
          </span>
        {{/link-to}}
      </div>
      <div class="subtitle nowrap">
        <span class="is-hidden-tablet-only is-hidden-widescreen-only">
          {{format-date bet.fixture.date weekday="long"}},
        </span>
        <span class="is-hidden-mobile is-hidden-desktop-only is-hidden-fullhd">
          {{format-date bet.fixture.date weekday="short"}},
        </span>
        {{format-date bet.fixture.date month="short"}}.
        {{format-date bet.fixture.date day="numeric"}},
        {{format-time bet.fixture.date hour='2-digit' minute='2-digit' hour12=false}}
      </div>
    {{/unless}}
    {{#unless hideUser}}
      <div class="title">
        {{#link-to 'users.bets' bet.user.id class="inverse-link"}}
          {{#responsive-letter-spacing boundary=180}}
            {{bet.user.firstName}}
          {{/responsive-letter-spacing}}<br>
          {{#responsive-letter-spacing boundary=180}}
            {{bet.user.lastName}}
          {{/responsive-letter-spacing}}
        {{/link-to}}
      </div>
    {{/unless}}
    <div>
      <form>
        <div class="columns is-mobile is-gapless">
          <div class="column">
            {{input type="text" placeholder=(t (concat 'team.short.' bet.fixture.homeTeam.id))
                    pattern="[0-9]*" inputmode="numeric"
                    disabled=disabled
                    class=(concat 'has-text-centered is-small input ' (if (v-get bet 'goalsHomeTeamBet' 'isInvalid') 'is-danger') (if bet.hasDirtyAttributes ' is-warning'))
                    value=(mut (get bet 'goalsHomeTeamBet'))}}
          </div>&nbsp;
          <div class="column">
            {{input type="text" placeholder=(t (concat 'team.short.' bet.fixture.awayTeam.id))
                    pattern="[0-9]*" inputmode="numeric"
                    disabled=disabled
                    class=(concat 'has-text-centered is-small input ' (if (v-get bet 'goalsAwayTeamBet' 'isInvalid') 'is-danger' (if bet.hasDirtyAttributes ' is-warning')))
                    value=(mut (get bet 'goalsAwayTeamBet'))}}
          </div>&nbsp;
          <div class="column">
            {{#unless disabled}}
              {{#submit-button model=bet submit=(action 'submit' bet) class="is-small"}}
                Submit
              {{/submit-button}}
            {{else}}
              {{#bet-evaluation goalsHomeTeam=bet.fixture.goalsHomeTeam goalsAwayTeam=bet.fixture.goalsAwayTeam
                                goalsHomeTeamBet=bet.goalsHomeTeamBet goalsAwayTeamBet=bet.goalsAwayTeamBet}}
              {{/bet-evaluation}}
            {{/unless}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
