<select onchange={{action "changeBettingGame" value="target.value"}}>
  <option value={{bettingGame.currentBettingGame.id}} selected>
    {{bettingGame.currentBettingGame.name}}
  </option>
  {{#each otherBettingGames as |otherBettingGame|}}
    <option value={{otherBettingGame.id}}>
      {{otherBettingGame.name}}
    </option>
  {{/each}}
</select>
