<h1 class="title">
  {{t (concat 'team.name.' model.fixture.homeTeam.id)}} <span class="has-text-grey">{{model.fixture.goalsHomeTeam}}</span><br>
  {{t (concat 'team.name.' model.fixture.awayTeam.id)}} <span class="has-text-grey">{{model.fixture.goalsAwayTeam}}</span>
</h1>
<p class="subtitle">
  {{format-date model.fixture.date weekday="long"}},
  {{format-date model.fixture.date month="short"}}.
  {{format-date model.fixture.date day="numeric"}},
  {{format-time model.fixture.date hour='2-digit' minute='2-digit' hour12=false}}
</p>

{{#live-bet-cards bets=model.bets fixture=model.fixture hideGame=true}}
{{/live-bet-cards}}

{{outlet}}
