<h1 class="title">
  {{t (concat 'team.name.' model.fixture.homeTeam.id)}} <span class="has-text-grey">{{model.fixture.goalsHomeTeam}}</span><br>
  {{t (concat 'team.name.' model.fixture.awayTeam.id)}} <span class="has-text-grey">{{model.fixture.goalsAwayTeam}}</span>
</h1>
<p class="subtitle">
  {{format-date model.fixture.date weekday="long"}},
  {{format-date model.fixture.date month="short"}}.
  {{format-date model.fixture.date day="numeric"}},
  {{format-time model.fixture.date hour='2-digit' minute='2-digit' hour12=false}}
</p>

<div class="columns is-multiline">
  {{#each model.bets as |bet|}}
    <div class="column is-one-third-tablet is-one-quarter-widescreen">
      {{#bet-card bet=bet hideGame=true}}
      {{/bet-card}}
    </div>
  {{else}}
    <div class="column">
      {{t 'bets.noneUntilFinished'}}
    </div>
  {{/each}}
</div>

{{outlet}}
